.note {
  margin-top: 30px;
  display: grid;
}

.note-view {
  margin: 0;
  padding: 0;
  div {
    font-weight: bold;
    font-size: 2rem;
  }
  p {
    font-family: "Reenie Beanie";
    font-size: 2rem;
  }
  ul,
  li {
    list-style: none;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ul li .wrapper {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 10em;
    width: 10em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    transform: rotate(-6deg);
    transition: transform 0.15s linear;
  }

  ul li:nth-child(even) .wrapper {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #cfc;
  }
  ul li:nth-child(3n) .wrapper {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #f4b6c2;
  }
  ul li:nth-child(4n) .wrapper {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #ffffff;
  }
  ul li:nth-child(5n) .wrapper {
    transform: rotate(5deg);
    position: relative;
    top: -10px;
    background: #fdf498;
  }

  ul li:nth-child(6n) .wrapper {
    transform: rotate(5deg);
    position: relative;
    top: -10px;
    background: #e7eff6;
  }

  ul li .wrapper:hover,
  ul li .wrapper:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
    transform: scale(1.12);
    position: relative;
    z-index: 5;
  }

  ul li {
    margin: 1em;
  }

  .remove {
    float: right;
    cursor: pointer;
    height: 25px;
  }
}
