@import "../../../configs/styles/variables.styles.scss";

button {
  background-color: #39acdc;
  border: none;
  color: white;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    cursor: no-drop;
  }
}
