@import "../src/configs/styles/variables.styles.scss";

body {
  background-color: $bodyBackgroundColor;
  font-family: $mainFont;
}

.flex {
  display: flex;
}

.space-beetwen {
  justify-content: space-between;
}
