/*
    Sass Variables
*/

// Main
$bodyBackgroundColor: #EEE;
$maxSize: 1024px;
$minSize: 320px;


// Colors
$blue: #39ACDC;
$ed: #EC3646;
$green: #57B93E;
$textColor: #333;

// Input configs
$inputColor: #333;
$placeholderColor: #AAA;
$borderColor: #CCC;
$buttonSize: 14px;

// Fonts & Texts
$mainFont: Arial, Helvetica, sans-serif;
$titleSize: 24px;
$inputLabel: 12px;
$myNotesHeader: 18px;





