/*
    Sass Variables
*/

// Main
$bodyBackgroundColor: #eee;
$maxSize: 1024px;
$minSize: 320px;

// Colors
$blue: #39acdc;
$ed: #ec3646;
$green: #57b93e;
$textColor: #333;

// Input configs
$inputColor: #333;
$placeholderColor: #aaa;
$borderColor: #ccc;
$buttonSize: 14px;

// Fonts & Texts
$mainFont: Arial, Helvetica, sans-serif;
$titleSize: 24px;
$inputLabel: 12px;
$myNotesHeader: 18px;
